# Certificates
*.pem
*.key
*.crt
*.cer
*.p12
*.pfx
*.p12
*.pfx
*.p12
*.pfx

.vscode/
.DS_Store
.directory
# Build directories
/build/
**/build/

# ESP-IDF dependencies
/components/.idf/
**/components/.idf/
managed_components

# Project configuration
sdkconfig
sdkconfig.old

# CMake files
CMakeCache.txt
CMakeFiles/

# Python environment files
*.pyc
*.pyo
*.pyd
__pycache__

# ESP32 toolchain files
.espressif/

# IDE specific files (e.g., Visual Studio Code, Eclipse)
.idea/
*.user
*.workspace
*.suo
*.sln

# ESP32 flash files
*.bin
*.elf
*.map

# Generated documentation
/docs/

# ESP-IDF logs
*.log